PORT=5000
MONGO_URL=mongodb://127.0.0.1:27017/test
FRONTEND_URL=https://0.0.0.0:3000
AWS_SECRET=secret12345
AWS_REFRESH=secretRefresh12345
NO_REPLY_EMAIL=sssss@gmail.com
NO_REPLY_EMAIL_PASSWORD=wdwedwedwe
CONFIRM_ACCOUNT_TOKEN_PWD=CNF_ACN
FORGOT_PASS_TOKEN_PWD=FGP_TN